@import "src/assets/sass/main";

.bookModule {
  display: flex;
  flex-direction: column;
  align-items: center;

  &_controller {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-bottom: 20px;
  }
}

.book {
  position: relative;
  display: flex;
  margin: 80px auto;
  width: 95%;
  height: 500px;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 1px 0 inset, rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.page {
  display: flex;
  flex-direction: row;
  perspective: 1200px;
  width: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;

  &_left {
    position: relative;
    width: 50%;
    height: 100%;
    background-position: center;
    background-size: cover;
    @media screen and (max-width: 600px) {
      display: none;
    }
  }

  &_right {
    align-items: center;
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media screen and (max-width: 600px) {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-content: center;
      align-items: center;
    }

    &_title {
      font-size: calc((12px * 1.2) * 1);
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-top: calc(12px * 5);
      margin-bottom: calc(12px * 3);
    }

    &_description {
      font-size: calc(12px * 1.2);
      line-height: 1.5;
      margin: 0 15px;
      height: 155px;
      width: 70%;

      @media screen and (max-width: 460px) {
        font-size: 14px;
        margin-bottom: 60px;
      }
    }

    &_links {
      display: flex;
      flex-direction: row;
      gap: 10px;
      margin-top: 1%;
      transition: fill 0.2s;

      svg {
        font-size: 25px;
        cursor: pointer;

        &:hover {
          fill: #1da1f2;
        }
      }
      .hidden {
        display: none;
      }
    }
  }
}

image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.5s;
}

button {
  display: inline;
  padding: 5px 15px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  color: $first-color;
  background-color: blue;

  &:hover {
    box-shadow: 0 2px 8px rgb(0, 0, 0);
  }
}