@import "src/assets/sass/main";

.bannerModule {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 10%;
}

.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20%;
  width: 100%;

  @media screen and (max-width: 800px) {
    flex-direction: column;
  }

  &_info {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 10%;
    padding-right: 10%;
  }

  &_logo {
    justify-self: flex-end;
    @media screen and (max-width: 480px) {
      width: 80%;
    }
  }

  h1 {
    color: blue;
  }
}